body{
text-align: center;
background-color: crimson;
}
h1{
    font-size: 25px;
    font-family: cursive;
}
p{
    font-size: 25px;
    font-family: cursive;
}
p{
    font-size: 25px;
    font-family: cursive;
}
p{
    font-size: 25px;
    font-family: cursive;
}
p{
    font-size: 25px;
    font-family: cursive;
}